@page "/categorias/update/{id:int}"
@using CrudBlazor.Models
@inject CrudBlazor.Services.ICategoriaService categoriaService
@inject NavigationManager navManager

<h3>Update</h3>
<EditForm Model="categoria" OnValidSubmit="UpdateCategory">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <InputText @bind-Value="categoria.Nome" class="form-control" id="nome"></InputText>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">
        Adicionar
    </button>

</EditForm>

@code {
    Categoria categoria = new Categoria();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categoria = await categoriaService.FindById(id) ?? new Categoria();
    }

     async Task UpdateCategory()
    {
        await categoriaService.UpdateCategoria(categoria);
        
        navManager.NavigateTo("/categorias/list");
        
    }
}
